.life-time-section {
    display: flex;
    width: 50%;
}
.years-and-days-in-month {
    width: 60%;
}
.years-ul {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1.95vw);
    width: 100%;
    gap: .9vw;
    &__year {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $greyLessDark;
        cursor: pointer;
        border-radius: 4px;
        font-size: .9vw;
        &_last {
            background: $redDark;
            color: $grey;
        }
        &_current {
            background: $red;
        }
    }
}
.days-in-month {
    margin-top: 10px;
}
.months-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 40%;
    &__month {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $greyLessDark;
        cursor: pointer;
        height: 7.7%;
        font-size: 1.2vw;
        &:first-child {
            border-top: 1px solid $redDark;
        }
        &_last {
            border-bottom: 1px solid $redDark;
            color: $redDark;
        }
        &_current {
            color: $red;
            border-bottom: 1px solid $red;
        }
    }
}
.days-in-month-container {
    margin-top: 2vw;
}
.days-in-week {
    display: flex;
    justify-content: space-between;
    li {
        width: 12%;
        font-size: .9vw;
        height: 1.4vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}