.menu {
    position: fixed;
    width: 300px;
    right: -300px;
    height: calc(100vh - 45px);
    top: 45px;
    background: $greyDefault;
    display: flex;
    flex-direction: column;
    transition: right .2s ease-in;
    border-top: 1px solid $greyLessDark;
    &_open {
        right: 0;
    }
    &__li-btn {
        padding: 0 4vw;
        cursor: pointer;
        height: 40px;
        display: flex;
        align-items: center;
        background: transparent;
        border-bottom: 1px solid $greyLessDark;
        transition: background-color .2s ease-in;
        font-size: 14px;
        svg {
            margin-right: 10px;
        }
        &:hover {
            background: $greyLessDark;
        }
    }
    &__user-settings {
        background: transparent;
        cursor: pointer;
        padding: 15px 4vw 0;
        text-align: left;
        border-bottom: 1px solid $greyLessDark;
        transition: background-color .2s ease-in;
        &:hover {
            background: $greyLessDark;
        }
    }
    &__user-settings-text {
        height: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        svg {
            margin-right: 10px;
        }
    }
    &__user-name {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 700;
    }
    &__user-email {
        font-size: 13px;
        margin-bottom: 10px;
        color: $grey;
    }
}