.sign-wrap {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sign-content {
    &__form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        h2 {
            text-align: center;
        }
        label {
            margin: 20px 0 10px;
        }
        input {
            height: 30px;
            padding: 0 10px;
        }
        button[type='submit'] {
            margin: 20px 0;
            height: 30px;
            cursor: pointer;
            background: transparent;
            border: 1px solid black;
        }
    }
    &__already {
        text-align: center;
    }
}